@import "fonts";

[data-player] {
  border: 1px solid #D8D8D8;
  padding: 24px;
  background-color: white;
}

[data-container] {
  background-color: white !important;
  position: relative !important;
}